.text-center {
  text-align: center;
}

h1 {
  color: rgb(17, 83, 64);
  font-weight: bold;
}
h2 {
  color: rgb(17, 83, 64);
}

.top-image {
  text-align: center;
}

.top-image img {
  border-color: rgb(163, 168, 167) !important;
  transition: ease-in-out 0.5s;
}
.top-image img:hover {
  border-color: rgb(17, 83, 64) !important;
}

a {
  color: black;
  transition: ease-in-out 0.5s;
}
a:hover {
  color: rgb(17, 83, 64);
}

.tags span {
  color: rgb(17, 83, 64);
  border: 1px solid rgb(17, 83, 64);
  padding: 2px 4px;
  margin: 2px;
  display: inline=black;
  border-radius: 5px;
  font-size: 0.8rem;
  transition: ease-out 0.5s;
}

.tags span:hover {
  color: #ccc;
  border-color: #ccc;
  transition: ease-in-out 0.5s;
}
.top-container {
  background-image: url("1670183587568.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.top-hero {
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.8px);
  -webkit-backdrop-filter: blur(1.8px);
}

